<%
  # pass nil presenter by default to force calculation
  present(edible, presenter) do |present_edible|
%>
  <tr id=<%= present_edible.dom_id %>>
    <td class="px-7">
      <%= present_edible.name %>
    </td>

    <% unless no_quantity ||= false %>
    <td class="px-7">
      <%= present_edible.grams %>
    </td>
      <% end %>

    <td class="px-7">
      <%= present_edible.fat %>
    </td>

    <td class="px-7">
      <%= present_edible.carbs %>
    </td>

    <td class="px-7">
      <%= present_edible.fibre %>
    </td>

    <td class="px-7">
      <%= present_edible.protein %>
    </td>

    <td class="px-7">
      <%= present_edible.calories %>
    </td>

    <td>
      <%= link_to 'Edit', present_edible.edit_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  </tr>
<% end %>
