<%
  # pass nil presenter by default to force calculation
  present(edible, presenter ||= nil) do |present_edible|
%>
  <tr id=<%= present_edible.dom_id %>>
    <td class="px-7">
      <%= present_edible.name %>
    </td>

    <% unless no_quantity ||= false %>
    <td class="px-7">
      <%= present_edible.grams %>
    </td>
      <% end %>

    <td class="px-7">
      <%= present_edible.fat %>
    </td>

    <td class="px-7">
      <%= present_edible.carbs %>
    </td>

    <td class="px-7">
      <%= present_edible.fibre %>
    </td>

    <td class="px-7">
      <%= present_edible.protein %>
    </td>

    <td class="px-7">
      <%= present_edible.calories %>
    </td>

    <% if present_edible.directly_editable? %>
    <td>
      <%= link_to 'Edit', present_edible.edit_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
    <% end %>

    <% if present_edible.deletable? %>
    <td>
      <%= link_to 'Destroy', present_edible.destroy_path, data: { "turbo-method": :delete }, class: "rounded-lg py-3 ml-2 px-5 bg-red-400 text-neutral-50 inline-block font-medium" %>
    </td>
    <% end %>

  </tr>
<% end %>
