<% present(ingredient) do |present_ingredient| %>
  <tr id=<%= dom_id(ingredient) %>>
    <td class="px-7">
      <%= present_ingredient.name %>
    </td>

    <td class="px-7">
      <%= present_ingredient.grams %>
    </td>

    <td class="px-7">
      <%= present_ingredient.fat %>
    </td>

    <td class="px-7">
      <%= present_ingredient.carbs %>
    </td>

    <td class="px-7">
      <%= present_ingredient.fibre %>
    </td>

    <td class="px-7">
      <%= present_ingredient.protein %>
    </td>

    <td class="px-7">
      <%= present_ingredient.calories %>
    </td>

    <td>
      <%= link_to 'Edit', present_ingredient.edit_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  </tr>
<% end %>
