<%
  edibles = [@current_user, @meal_totals, @food_totals].map do |e|
    UserTargetsPresenter.new(e)
  end

  button_proc = ->(url) { link_to 'Edit', url, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"}

  totals_table = TableComponent.new(turbo_stream: :todays_totals)
  totals_table.add_column(label: "", value_from_item: :name)
  totals_table.add_column(label: "Fat", value_from_item: :fat)
  totals_table.add_column(label: "Carbs", value_from_item: :carbs)
  totals_table.add_column(label: "Fibre", value_from_item: :fibre)
  totals_table.add_column(label: "Protein", value_from_item: :protein)
  totals_table.add_column(label: "Calories", value_from_item: :calories)
  totals_table.add_column(label: "", value_from_item: ->(e) { button_proc.call(e.edit_path) if e.directly_editable? })
%>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Daily Log</h1>
  </div>
  <div class="mx-auto">
    <%= render totals_table.with_items(edibles) %>
  </div>

  <%= render "search_entries/search_bar", parent_item: @current_user %>

  <div class="mx-auto">
    <%=
    food_table = TableComponent.new(turbo_stream: :todays_food_edible_items)
    food_table.add_column(label: "Food", value_from_item: :name)
    food_table.add_column(label: "Grams", value_from_item: :grams)
    food_table.add_column(label: "Fat", value_from_item: :fat)
    food_table.add_column(label: "Carbs", value_from_item: :carbs)
    food_table.add_column(label: "Fibre", value_from_item: :fibre)
    food_table.add_column(label: "Protein", value_from_item: :protein)
    food_table.add_column(label: "Calories", value_from_item: :calories)
    render food_table.with_items(@todays_food.map { present(_1) })
    %>
  </div>
  <div class="mx-auto">
    <%=
    meal_table = TableComponent.new(turbo_stream: :todays_meals_edible_items)
    meal_table.add_column(label: "Meal", value_from_item: :name)
    meal_table.add_column(label: "", value_from_item: ->(_){""})
    meal_table.add_column(label: "Fat", value_from_item: :fat)
    meal_table.add_column(label: "Carbs", value_from_item: :carbs)
    meal_table.add_column(label: "Fibre", value_from_item: :fibre)
    meal_table.add_column(label: "Protein", value_from_item: :protein)
    meal_table.add_column(label: "Calories", value_from_item: :calories)
    render meal_table.with_items(@todays_meals.map { present(_1) })
    %>
  </div
</div>
