<td class="px-7">
  <%= ingredient.name %>
</td>

<td class="px-7">
  <%= ingredient.grams %>
</td>

<td class="px-7">
  <%= ingredient.fat %>
</td>

<td class="px-7">
  <%= ingredient.carbs %>
</td>

<td class="px-7">
  <%= ingredient.fibre %>
</td>

<td class="px-7">
  <%= ingredient.protein %>
</td>

<td class="px-7">
  <%= ingredient.calories %>
</td>

<td>
  <%= link_to 'Edit', ingredient.edit_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
</td>
