<div id="<%= dom_id meal_consumption_event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= meal_consumption_event.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meal:</strong>
    <%= meal_consumption_event.meal_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this meal consumption event", meal_consumption_event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meal consumption event', edit_meal_consumption_event_path(meal_consumption_event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
