<td class="px-7">
  <%= food.name %>
</td>

<td class="px-7">
  <%= food.fat %>
</td>

<td class="px-7">
  <%= food.carbs %>
</td>

<td class="px-7">
  <%= food.fibre %>
</td>

<td class="px-7">
  <%= food.protein %>
</td>

<td class="px-7">
  <%= food.calories %>
</td>

<td>
  <%= link_to 'Edit', edit_food_path(food), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
</td>
