<tr>
<div id="<%= dom_id food_consumption_event %>">
<% present(food_consumption_event) do |food| %>
  <td class="px-7">
    <%= food.name %>
  </td>

  <td class="px-7">
    <%= food.grams %>
  </td>

  <td class="px-7">
    <%= food.fat %>
  </td>

  <td class="px-7">
    <%= food.carbs %>
  </td>

  <td class="px-7">
    <%= food.fibre %>
  </td>

  <td class="px-7">
    <%= food.protein %>
  </td>

  <td class="px-7">
    <%= food.calories %>
  </td>
<% end %>
</div>
</tr>
